* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

main {
    display: flex;
}

.stores__list {
    overflow: auto;
    max-width: 250px;
    min-width: 250px;
    height: 100vh;
}

.header__list {
    background-color: #F1F3FB;
    padding: 5px 0 20px 10px;
    position: sticky;
    top: 0;
    z-index: 1;
}

h1 {
    font-size: 20px;
    font-weight: 300;
}

.nav__wrapper {
    background-color: #F1F3FB;
    padding-left: 10px;
}

.search__list {
    width: 215px;
    border: #e6e6e6 2px solid;
}

.search__list:hover {
    border: #7BA1ED 2px solid;
}

.search__button {
    position: relative;
    left: 175px;
    bottom: 18px;
    height: 15px;
    width: 15px;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.search__button:hover, .refresh__button:hover {
    background-color: #e6e6e6;
}

.refresh__button {
    position: relative;
    left: 177px;
    bottom: 18px;
    height: 15px;
    width: 15px;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.content__list {
    background-color: #F1F3FB;
}

.line__list {
    background-color: #CFDFEC;
    height: 2px;
    position: sticky;
    top: 45px;
    z-index: 1;
}

.button__list {
    position: sticky;
    top: 26px;
    transform: translateY(12px);
    z-index: 2;
}

.list__up {
    margin-left: 90px;
    width: 25px;
    height: 15px;
    border: none;
    background-color: #CFDFEC;
    cursor: pointer;
}

.list__anchor {
    width: 25px;
    height: 15px;
    border: none;
    background-color: #CFDFEC;
    cursor: pointer;
}

.list__up:hover, .list__anchor:hover {
    background-color: #C5D6E3;
}

.list__item > li {
    display: flex;
    justify-content: space-around;
    border-bottom: #AFB7BD 1px solid;
    padding: 10px 0 10px;
    background-color: #fff;
}

.list__item > li:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}

h2 {
    font-size: 18px;
}

p {
    font-size: 10px;
}

.main__info > h2{
    padding-bottom: 20px;
}

.store__details {
    overflow: auto;
    width: 100%;
    height: 100vh;
}

.header__details {
    background-color: #F1F3FB;
}

.title__details {
    padding: 5px 0 20px 40px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.info__details {
    display: flex;
    padding: 0 0 0 40px;
    background-color: #F1F3FB;
}

.info__email > span {
    font-size: 11px;
}

.info__date > span {
    font-size: 11px;
}

.info__email {
    margin-right: 20px;
}

.button__details {
    position: sticky;
    top: 26px;
    transform: translateY(11px);
    z-index: 2;
}

.button__up {
    width: 25px;
    height: 15px;
    margin-left: 45%;
    border: none;
    background-color: #CFDFEC;
    cursor: pointer;
}

.button__anchor {
    width: 25px;
    height: 15px;
    border: none;
    background-color: #CFDFEC;
    cursor: pointer;
}

.button__up:hover, .button__anchor:hover {
    background-color: #C5D6E3;
}

.line__details {
    background-color: #CFDFEC;
    height: 2px;
    position: sticky;
    top: 45px;
    z-index: 1;
}

.status__details {
    display: flex;
}


.all{
    position:relative;
    display:inline-block;
    padding: 30px 30px;
}

.all:after{
    content:"";
    position:absolute;
    bottom:0;
    left:50%;
    width:60%;
    height:2px;
    margin-left:-30%;
    background:#000
}

